<h1>Jobs</h1>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>标题</th>
      <th>描述</th>
      <th>工作更新时间</th>
    </tr>
  </thead>
    <% @jobs.each do |job|  %>
      <tr>
        <td>
          <%= job.title %>
        </td>
        <td>
          <%= job.description %>
        </td>
        <td>
          <%= time_ago_in_words(job.created_at) %>
        </td>
      </tr>
    <% end %>
  <tbody>

  </tbody>
</table>
