<h2>工作详情</h2>

<p>
  <%= @job.title %>
</p>


<%= @job.description %>

<div class="text-center">
  <%= link_to "提交简历", new_job_resume_path(@job), style: "font-size: 30px; text-decoration: underline" %>
</div>
