<div class="jumbotron">
  <h1 class="title">Hero War</h1>
  <p class="slogan">Hero War 是一个旨在拯救宇宙于水火之中的联盟组织。
    <br>在这里是一群志同道合的人士，
    <br>期待你的加入。</p>
  <p class="lead"><a href="/jobs" class="btn btn-lg btn-danger">马上应征</a></p>
</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://osg8hy6ru.bkt.clouddn.com/space%20station.jpg" alt="search" class="img-thumbnail">
          <div class="caption">
            <h3>银河护卫队空间站</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://osg8hy6ru.bkt.clouddn.com/ContactEmail.jpg" alt="bid" class="img-thumbnail">
          <div class="caption">
            <h3>info@herowar.com</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://osg8hy6ru.bkt.clouddn.com/telephone.jpg" alt="heart" class="img-thumbnail">
          <div class="caption">
            <h3>0100-66666</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
